<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}"/>

</head>
<body>

<div class="login-box">
    <h2>Login</h2>
    <form action="{% url 'examapp:login' %}" method="post">
        {% csrf_token %}
        <div class="login-field">
            <input type="text" name="username" required=""/>
            <label>Username</label>
        </div>
        <div class="login-field">
            <input type="password" name="password" required=""/>
            <label>Password</label>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>


</body>
</html>