<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="en">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}"/>

</head>
<body>

<div class="login-box">
    <h2>Login</h2>
    <div class="login_name">
        <p>数据库考试平台登录</p>
    </div>
    <form action="{% url 'examapp:login' %}" method="post">
        {% csrf_token %}
        <div class="login-field">
            <input type="text" name="username" required=""/>
            <label>Username</label>
        </div>
        <div class="login-field">
            <input type="password" name="password" required=""/>
            <label>Password</label>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<!--Footer-->
<footer class="footer_third">
    <div class="copyright">© 电子科技大学™</div>
</footer>


</body>
</html>